<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="ProductCardFragmentWithBookAssessment"
     th:replace=" :: ProductCardFragment(showBookAssessment = true)">
</div>

<div th:fragment="ProductCardFragmentWithoutBookAssessment"
     th:replace=" :: ProductCardFragment(showBookAssessment = false)">
</div>

<div class="ProductCard" th:fragment="ProductCardFragment(showBookAssessment)">
    <div class="ProductCard-look">
        <div class="ProductCard-photo"><img src="/assets/img/content/main/card.jpg"
                                            th:src="${book.image} ? ${book.image} : '/alt_card.jpg'"
                                            alt="card.jpg"/>
        </div>
    </div>
    <div class="ProductCard-desc">
        <div class="ProductCard-header">
            <h1 class="ProductCard-title" th:text="${book.title}">Мара и морок</h1>
            <div class="ProductCard-author">
                  <span class="ProductCard-titleProp" th:text="${book.authors.size()} == 1 ? 'Автор:' : 'Авторы:'">
                    Автор:
                  </span>&#32;
                <th:block th:each="author : ${book.authors}">
                    <a href="#" th:href="'/authors/' + ${author.slug}" th:text="${author.name}">Лия Арден</a>
                </th:block>
            </div>
            <div class="ProductCard-rating" th:replace="~{fragments/bookpage_fragments :: BookRatingFragment}">
                <span class="ProductCard-titleProp">Рейтинг:</span>
                <button class="trigger trigger_dropdown" type="button">
                    <div class="Rating Rating_noStyleLink">
                      <span class="Rating-stars" th:with="bookRating = ${book.getRating()}">
                        <span class="Rating-star" th:classappend="${bookRating >= 1 ? 'Rating-star_view' : ''}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                        <span class="Rating-star" th:classappend="${bookRating >= 2 ? 'Rating-star_view' : ''}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                        <span class="Rating-star" th:classappend="${bookRating >= 3 ? 'Rating-star_view' : ''}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                        <span class="Rating-star" th:classappend="${bookRating >= 4 ? 'Rating-star_view' : ''}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                        <span class="Rating-star" th:classappend="${bookRating >= 5 ? 'Rating-star_view' : ''}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                      </span>
                        <span class="Rating-title" th:text="${book.getRatingTotalCount()}">(567)</span>
                    </div>
                    <div class="modal modal_compression modal_dropdown">
                        <div class="modal-window"><a class="modal-close" href="#"><span></span><span></span></a>
                            <strong class="modal-title">Распределение оценок
                            </strong>
                            <div class="RatingGroup"><span class="Rating"><span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${book.getNumberOfRating(5)}">1</span></span><br><span class="Rating"><span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${book.getNumberOfRating(4)}">4</span></span><br><span class="Rating"><span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${book.getNumberOfRating(3)}">0</span></span><br><span class="Rating"><span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${book.getNumberOfRating(2)}">10</span></span><br><span class="Rating"><span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${book.getNumberOfRating(1)}">3</span></span>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <th:block th:if="${showBookAssessment}">
                <div class="ProductCard-assessment" th:replace=":: BookAssessmentFragment">
                    <span class="ProductCard-titleProp">Оцените книгу:</span>
                    <span class="Rating Rating_input" data-bookid="2121" th:attr="data-bookid=${book.slug}">
                    <span class="Rating-stars">
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 1} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="1"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 2} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="2"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 3} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="3"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 4} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="4"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser == 5} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="5"/></span></span>
                </div>
            </th:block>
            <div class="ProductCard-tags">
                <span class="ProductCard-titleProp">Тэги:</span>
                <th:block th:each="tag : ${book.tags}">
                    <a href="/tags/" th:text="${tag.name}" th:href="'/tags/' + ${tag.id}">Современные</a>
                </th:block>
            </div>
            <div class="ProductCard-cost">
                <span class="ProductCard-titleProp">Цена:</span>
                <span class="ProductCard-priceOld" th:if="${book.discount} gt 0" th:text="${book.price} + ' р.'">₽300</span>
                <span class="ProductCard-price" th:text="(${book.discount} gt 0 ? ${book.getDiscountPrice()} : ${book.price}) + ' р.'">₽180</span>
            </div>
            <!--+div.-info
            //+div.-cost
            //    +div.-price $55.00
            //    +div.-priceOld $115.00
            //+div.-compare
            //    +btn._default
            //        +img('change.svg','icons/card').-icon
            -->
        </div>
        <div class="ProductCard-text">
            <p th:text="${book.description}">Таких, как я, называют Марами - отмеченными самой богиней смерти Мораной. Когда-то у меня и моих шести сестер был свой путь. Тогда люди нас уважали и просили о милосердии. Они приносили нам подношения и молились нам. Но 200 лет назад все изменилось, когда принц Серата осмелился поднять руку на одну из нас. Я пыталась отомстить, но погибли мы все. Теперь правители Аракена, погрязшие в длительной войне со своим соседом Сератом, решили вернуть меня к жизни. Дать второй шанс на месть и свободу, привязав меня к тому, против кого я никогда не пойду. Таких, как он, называют Морок, и их боятся абсолютно все.
            </p>
        </div>
        <div class="ProductCard-cart">
            <!--+div.-cartElement.-cartElement_amount-->
            <!--    +Amount._product-->
            <div class="ProductCard-cartElement">
                <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1111]"
                        th:attr="data-bookid = ${book.slug}" data-btntype="check" data-btnradio="buyblock"
                        data-check="false" data-alttext="Отложена">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                    </span>
                    <span class="btn-content">Отложить</span>
                </button>
            </div>
            <div class="ProductCard-cartElement">
                <button class="btn btn_primary btn_outline" data-sendstatus="CART" data-bookid="[1111]"
                        th:attr="data-bookid = ${book.slug}" data-btntype="check" data-btnradio="buyblock"
                        data-check="false" data-alttext="В корзине">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
                    </span>
                    <span class="btn-content">Купить</span>
                </button>
            </div>
        </div>
        <div class="ProductCard-cart">
            <!--+div.-cartElement.-cartElement_amount-->
            <!--    +Amount._product-->
            <div class="ProductCard-cartElement">
                <a class="btn btn_primary btn_outline" id="downloadButton" href="#">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/download.svg" alt="download.svg"/>
                    </span>
                    <span class="btn-content">Скачать</span>
                </a>
            </div>
            <div class="ProductCard-cartElement">
                <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED" data-bookid="[1111]"
                        th:attr="data-bookid = ${book.slug}" data-btntype="check" data-btnradio="buyblock"
                        data-check="false" data-alttext="Вернуть из архива">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/archive.svg" alt="archive.svg"/>
                    </span>
                    <span class="btn-content">В архив</span>
                </button>
            </div>
        </div>
        <div id="myPopup">
            <p>Ссылки для скачивания</p>
            <div th:each="bookFile : ${book.getBookFiles()}">
                <a href="#" th:href="'/books/download/' + ${bookFile.hash}" th:text="${bookFile.bookFileType.name}"></a>
            </div>
            <span id="myPopup__close" class="close">✖</span>
        </div>
        <div id="myOverlay"></div>
        <!--+div.-cart-->
        <!--    //+div.-cartElement.-cartElement_amount-->
        <!--    //    +Amount._product-->
        <!--    +div.-cartElement-->
        <!--        +btn('button')(data-sendstatus='UNLINK' data-bookid="[1111]")._muted Вернуть из архива-->
    </div>
</div>

<div class="ProductCard-assessment" th:fragment="BookAssessmentFragment">
    <span class="ProductCard-titleProp">Оцените книгу:</span>
    <span class="Rating Rating_input" data-bookid="2121" th:attr="data-bookid=${book.slug}">
                    <span class="Rating-stars">
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 1} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="1"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 2} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="2"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 3} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="3"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser >= 4} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="4"/>
                      <span class="Rating-star" th:classappend="${bookRateByUser == 5} ? 'Rating-star_view' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="5"/></span></span>
</div>

<div class="ProductCard-rating" th:fragment="BookRatingFragment">
    <span class="ProductCard-titleProp">Рейтинг:</span>
    <button class="trigger trigger_dropdown" type="button">
        <div class="Rating Rating_noStyleLink">
            <span class="Rating-stars" th:with="bookRating = ${book.getRating()}">
            <span class="Rating-star" th:classappend="${bookRating >= 1 ? 'Rating-star_view' : ''}">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                <g>
                  <g>
                    <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                  </g>
                </g>
              </svg>
            </span>
            <span class="Rating-star" th:classappend="${bookRating >= 2 ? 'Rating-star_view' : ''}">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                <g>
                  <g>
                    <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                  </g>
                </g>
              </svg>
            </span>
            <span class="Rating-star" th:classappend="${bookRating >= 3 ? 'Rating-star_view' : ''}">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                <g>
                  <g>
                    <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                  </g>
                </g>
              </svg>
            </span>
            <span class="Rating-star" th:classappend="${bookRating >= 4 ? 'Rating-star_view' : ''}">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                <g>
                  <g>
                    <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                  </g>
                </g>
              </svg>
            </span>
            <span class="Rating-star" th:classappend="${bookRating >= 5 ? 'Rating-star_view' : ''}">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                <g>
                  <g>
                    <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                  </g>
                </g>
              </svg>
            </span>
            </span>
            <span class="Rating-title" th:text="${book.getRatingTotalCount()}">(567)</span>
        </div>
        <div class="modal modal_compression modal_dropdown">
            <div class="modal-window">
                <a class="modal-close" href="#">
                    <span></span>
                    <span></span>
                </a>
                <strong class="modal-title">Распределение оценок</strong>
                <div class="RatingGroup">
                    <span class="Rating">
                        <span class="Rating-stars">
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                        </span>
                        <span class="Rating-title" th:text="${book.getNumberOfRating(5)}">1</span>
                    </span>
                    <br>
                    <span class="Rating">
                        <span class="Rating-stars">
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                        </span>
                        <span class="Rating-title" th:text="${book.getNumberOfRating(4)}">4</span>
                    </span>
                    <br>
                    <span class="Rating">
                        <span class="Rating-stars">
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                        </span>
                        <span class="Rating-title" th:text="${book.getNumberOfRating(3)}">0</span>
                    </span>
                    <br>
                    <span class="Rating">
                        <span class="Rating-stars">
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                        </span>
                        <span class="Rating-title" th:text="${book.getNumberOfRating(2)}">10</span>
                    </span>
                    <br>
                    <span class="Rating">
                        <span class="Rating-stars">
                            <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                            <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                        </span>
                        <span class="Rating-title" th:text="${book.getNumberOfRating(1)}">3</span>
                    </span>
                </div>
            </div>
        </div>
    </button>
</div>

<div class="Product-comments" th:fragment="CommentsTotalFragment">
    <div class="Product-comments-header">
        <h3 class="Product-comments-title">Отзывы</h3>
        <span class="Rating">
            <span class="Rating-stars">
                <span class="Rating-star Rating-star_view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                      <g>
                        <g>
                          <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                        </g>
                      </g>
                    </svg>
                </span>
                <span class="Rating-star Rating-star_view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                      <g>
                        <g>
                          <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                        </g>
                      </g>
                    </svg>
                </span>
                <span class="Rating-star Rating-star_view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                      <g>
                        <g>
                          <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                        </g>
                      </g>
                    </svg>
                </span>
                <span class="Rating-star Rating-star_view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                      <g>
                        <g>
                          <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                        </g>
                      </g>
                    </svg>
                </span>
                <span class="Rating-star Rating-star_view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                      <g>
                        <g>
                          <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                        </g>
                      </g>
                    </svg>
                </span>
            </span>
            <span class="Rating-title" th:with="sizeSuffix = ${book.getBookReviewEntities().size() % 100}"
                                              th:text="${book.getBookReviewEntities().size()} +
                                              (${sizeSuffix % 10 <= 4 && sizeSuffix % 10 >= 2 && (sizeSuffix < 10 || sizeSuffix > 14)} ? ' отзыва' :
                                              (${sizeSuffix % 10 == 1 && sizeSuffix != 11} ? ' отзыв' : ' отзывов'))">567 отзывов</span></span>
    </div>
</div>

<div class="Comments-addComment" th:fragment="AddCommentsFragment">
    <strong class="Comments-title">Написать отзыв
    </strong>
    <form class="form" action="#" method="post" data-bookid="1111" th:attr="data-bookid = ${book.slug}">
        <div class="form-group">
            <textarea class="form-textarea Comments-review" name="review" id="review" placeholder="Текст отзыва" data-validate="require"></textarea>
        </div>
        <div class="form-group Comments-sendReview">
            <button class="btn btn_warning" type="submit">Отправить отзыв
            </button>
        </div>
    </form>
</div>

<div th:fragment="CommentDataFragmentWithButtons"
     th:replace=":: CommentDataFragment(showCommentFooterButtons = true)">
</div>

<div th:fragment="CommentDataFragmentWithoutButtons"
     th:replace=":: CommentDataFragment(showCommentFooterButtons = false)">
</div>

<div class="Comment" th:fragment="CommentDataFragment(showCommentFooterButtons)"
                     th:each="bookReview : ${book.bookReviewEntities}">
    <div class="Comment-column Comment-column_pict">
        <div class="Comment-avatar">
        </div>
    </div>
    <div class="Comment-column">
        <header class="Comment-header">
            <div>
                <strong class="Comment-title" >[[${bookReview.user.name}]]
                    <span class="Comment-rating">
                        <span class="Rating Rating_comment">
                            <span class="Rating-stars" th:with="starRating = ${bookReview.getStarRating()}">
                                <span class="Rating-star" th:classappend="${starRating >= 0.1} ? 'Rating-star_view' : ''">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <span class="Rating-star" th:classappend="${starRating >= 0.3} ? 'Rating-star_view' : ''">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <span class="Rating-star" th:classappend="${starRating >= 0.5} ? 'Rating-star_view' : ''">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <span class="Rating-star" th:classappend="${starRating >= 0.7} ? 'Rating-star_view' : ''">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <span class="Rating-star" th:classappend="${starRating >= 0.9} ? 'Rating-star_view' : ''">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                            </span>
                        </span>
                    </span>
                </strong>
                <span class="Comment-date" th:text="${#temporals.format(bookReview.time, 'dd.MM.yyyy HH:mm')}">
                    17.04.2020 16:40
                </span>
            </div>
        </header>
        <div class="Comment-content">
            <p th:text="${bookReview.text}">Lorem ...</p>
            <th:block th:if="${showCommentFooterButtons}">
                <div class="Comment-footer"
                     th:replace=":: CommentFooterButtons">
                </div>
            </th:block>
        </div>
    </div>
</div>

<div class="Comment-footer" th:fragment="CommentFooterButtons">
    <div class="Comment-appeal">
        <button class="btn btn_white btn_like" data-btntype="check" data-check="false" data-btnradio="two2" data-likeid="1111" th:attr="data-likeid = ${bookReview.id}">
            <span class="btn-icon"><img src="/assets/img/icons/comment/like.svg" alt="like.svg"/></span>
            <span class="btn-content" th:text="${bookReview.getLikesCount()}">200</span>
        </button>
        <button class="btn btn_white btn_dislike" data-btntype="check" data-check="false" data-btnradio="two2" data-likeid="1111" th:attr="data-likeid = ${bookReview.id}">
            <span class="btn-icon"><img src="/assets/img/icons/comment/dislike.svg" alt="dislike.svg"/></span>
            <span class="btn-content" th:text="${bookReview.getDislikesCount()}">100</span>
        </button>
    </div>
</div>

</html>