<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="genreFragmentTypeChooser(genre)"
     th:replace="${genre.hasChild()} ?
            ~{fragments/genres_fragment :: nestedGenreFrament(${genre})} :
            ~{fragments/genres_fragment :: simpleGenreFragment(${genre})}">
</div>

<div class="Tag" th:fragment="simpleGenreFragment(genre)">
    <a href="/genres/slug.html" th:href="'/genres/' + ${genre.slug}" >
        [[${genre.name}]]
        <span class="undefined-amount">([[${genre.booksCount}]])</span>
    </a>
</div>

<div class="Tags" th:fragment="nestedGenreFrament(genre)" th:classappend="${genre.getTagClass()}">
    <div class="Tags-title">
        <div th:replace="~{fragments/genres_fragment :: simpleGenreFragment(${genre})}"></div>
    </div>
    <th:block th:each="childGenre : ${genre.subgenres}">
        <div th:replace="~{fragments/genres_fragment :: genreFragmentTypeChooser(${childGenre})}"></div>
    </th:block>
</div>

<div class="Section" th:fragment="genresFragment(genres)">
    <div class="Tags Tags_genres">
        <th:block th:each="genre : ${genres}">
            <div th:replace="~{fragments/genres_fragment :: genreFragmentTypeChooser(${genre})}"></div>
        </th:block>
    </div>
</div>

<div class="Section" th:fragment="genresFragment_original">
    <div class="Tags Tags_genres">
        <div class="Tags Tags_embed">
            <div class="Tags-title">
                <div class="Tag">
                    <a href="/genres/slug.html">
                        Лёгкое чтение
                        <span class="undefined-amount">(15638)</span>
                    </a>
                </div>
            </div>
            <div class="Tag">
                <a href="/genres/slug.html">
                    Фантастика
                    <span class="undefined-amount">
                        (44333)
                    </span>
                </a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Боевики<span class="undefined-amount">(158)</span></a></div>
            <div class="Tags">
                <div class="Tags-title">
                    <div class="Tag"><a href="/genres/slug.html">Детективы<span class="undefined-amount">(10)</span></a>
                    </div>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Триллер<span class="undefined-amount">(134)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Крутой детектив<span class="undefined-amount">(934)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Иронический детектив<span class="undefined-amount">(143443)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Про маньяков<span class="undefined-amount">(3331)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Шпионский детектив<span class="undefined-amount">(94)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Криминальный детектив<span class="undefined-amount">(4839)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Классический детектив<span class="undefined-amount">(4488)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug.html">Политический детектив<span class="undefined-amount">(1)</span></a>
                </div>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Фэнтези<span class="undefined-amount">(14338)</span></a></div>
            <div class="Tag"><a href="/genres/slug.html">Романы<span class="undefined-amount">(1438)</span></a></div>
            <div class="Tag"><a href="/genres/slug.html">Ужасы<span class="undefined-amount">(156)</span></a></div>
            <div class="Tag"><a href="/genres/slug.html">Приключения<span class="undefined-amount">(1538)</span></a></div>
        </div>
        <div class="Tags">
            <div class="Tags-title">
                <div class="Tag"><a href="/genres/slug.html">Серьёзное чтение<span class="undefined-amount">(18)</span></a>
                </div>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Биографии<span class="undefined-amount">(18)</span></a>
            </div>
        </div>
        <div class="Tags">
            <div class="Tags-title">
                <div class="Tag"><a href="/genres/slug.html">Деловая литература<span class="undefined-amount">(158)</span></a>
                </div>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Деловая литература<span class="undefined-amount">(138)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Управление экономикой<span class="undefined-amount">(158)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Карьера<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Маркетинг, PR, реклама<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Финансы<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Бизнес-справочники<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Личные финансы<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Менеджмент<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Зарубежная деловая литература<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Личная эффективность<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Тайм-менеджмент<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Малый бизнес<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Продажи<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Стартапы и создание бизнеса<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Корпоративная культура<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Банковское дело<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Логистика<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Недвижимость<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Интернет-бизнес<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Ораторское искусство / риторика<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Привлечение клиентов и лояльность<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Делопроизводство<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Переговоры<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Государственное и муниципальное управление, политическое управление<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">О бизнесе популярно<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Ценные бумаги / инвестиции<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Бухучет / налогообложение / аудит<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Российская практика<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Истории успеха<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Интернет-маркетинг<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Лидерство<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Проектный менеджмент<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Управление качеством<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Финансовый менеджмент<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Управление персоналом<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Бизнес-процессы<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Управление бизнесом<span class="undefined-amount">(15638)</span></a>
            </div>
        </div>
        <div class="Tags">
            <div class="Tags-title">
                <div class="Tag"><a href="/genres/slug.html">Драматургия<span class="undefined-amount">(15638)</span></a>
                </div>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Античная драма<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Комедия<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Сценарий<span class="undefined-amount">(15638)</span></a>
            </div>
            <div class="Tag"><a href="/genres/slug.html">Драма, пьеса<span class="undefined-amount">(15638)</span></a>
            </div>
        </div>
    </div>
</div>


</html>